version: '3.8'
 
services:
  app:
    container_name: back
    build:
      context: ./backend/
      dockerfile: Dockerfile
    expose:
      - 8000
    ports:
      - 8000:8000
      - 80:80

  # frontend:
  #   command : npm start
  #   container_name: front
  #   build:
  #     context: ./frontend/
  #     dockerfile: Dockerfile
  #   ports:
  #     - "3000:3000"